<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Messages</title>
</head>
<body>
    <%- include('components/header', { user: locals.user }) %>
    <section class="messages-panel">
        <div class="messages">
            <div class="button-container messages-button">
                <button><a href="/">Return to threads</a></button>
            </div>

            <div class="message">
                <% if (messages[0]) {%>
                <h2><%= messages[0].title %></h2>
                <% } else { %>
                    <h2>There is no messages in this thread</h2>
                <%}%>
            </div>

            <% messages.forEach(message => {%>
                <div class="message">
                    <div class="message-info">
                        <p><%= message.text %></p>
                        <p>By <a href="#"><%= message.email %></a></p> <!-- TODO: implement email to -->
                    </div>
                    <% if (locals.user && locals.user.admin) {%>
                        <div class="delete-button">
                            <button><a href="/delete-message/<%= message.id_messages %>">Delete</a></button>
                        </div>
                    <%}%>
                </div>
            <% }) %>

            <% if (locals.user) {%>
                <form id="new-message-form" action="/create-message/<%= threadId %>" method="post"> <!-- dodaj stilove -->
                    <input id='newMessage' name='newMessage' placeholder="Add new message" type="text">

                    <button>Add</button>
                </form>
            <%}%>
        </div>
    </section>
    <%- include('components/footer') %>
</body>
</html>