<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Threads</title>
</head>
<body>
    <!-- header -->
    <%- include('components/header', { user: locals.user}) %>
    <section class="threads-panel">
        <div class="threads">
            <div class="button-container threads-button">
                <% if (locals.user) {%>
                    <button class="new-thread"><a href="/add-new-thread">Add New Thread</a></button>
                <%}%>
            </div>

            <% threads.forEach(thread => {%>
                <div class="thread">
                    <div class="thread-info">
                        <h1><a href="/messages/get-messages/<%= thread.id_thread%>"><%= thread.title %></a></h1>
                        <p><%= thread.text %></p>
                        <p>By <a href="#"><%= thread.email %></a></p> <!-- TODO: implement email to -->
                    </div>
                    <% if (locals.user && locals.user.admin) {%>
                        <div class="delete-button"> <!-- change to bin icon -->
                            <button><a href="/delete-thread/<%= thread.id_thread %>">Delete</a></button>
                        </div>
                    <%}%>
                </div>
            <% }) %>
        </div>
    </section>
    <!-- footer -->
    <%- include('components/footer') %>
</body>
</html>