<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Threads</title>
</head>
<body>
    <!-- header -->
    <%- include('components/header') %>
    <section>
        <div class="threads">
            <% threads.forEach(thread => {%>
                <div class="thread">
                    <h1><%= thread.title %></h1>
                    <p><%= thread.description %></p>
                    <a href="#"><%= thread.email %></a>
                </div>
            <% }) %>
        </div>
    </section>
    <!-- footer -->
    <%- include('components/footer') %>
</body>
</html>